.DS_Store
.AppleDouble
.LSOverride
xcuserdata/
*.xcuserstate
DerivedData/
build/
.DerivedData/
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM
*.mobileprovision
*.orig
*.log
*.moved-aside
*.swp
*.tmp
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/registries.json
